.advantages {
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.advantages__item {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 24px;
}

.advantages__item--list {
  background: url("../../img/advantage-leaf@1x.png");
}
