.catalog {
  padding-top: 28px;
}

.catalog__list {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog__item {
  background-color: @basic_grey;
  height: 266px;
}

.catalog__title {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  padding-left: 40px;
  padding-top: 30px;


  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
    margin-right: 19px;
  }
}

.catalog__item--slim {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 36px;
    height: 50px;
    position: absolute;
    background-image: url("./../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 25px;
    left: 50px;
  }
}

.catalog__item--weight {
  position: relative;


  &::after {
    content: "";
    display: block;
    width: 68px;
    height: 28px;
    position: absolute;
    background-image: url("./../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 40px;
    left: 26px;
  }
}

.catalog__discription {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 26px;
  color: @special_dark-grey;
  padding-left: 20px;
  padding-right: 33px;
}

.catalog__link {
  display: flex;
  position: relative;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  color: #000000;
  padding-left: 20px;


  &::after {
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("./../img/icon-right-arrow-long.svg");
    top: 5px;
    left: 110px;
    width: 30px;
    height: 10px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__item {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
    height: 372px;
  }

  .catalog__list {
    padding-left: 30px;
    padding-right: 30px;
  }

  .catalog__title {
    display: flex;
    position: relative;


    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 200px;
      height: 200px;
      background-color: #68b738;
      border-radius: 50%;
      margin-left: 400px;
      top: 50px;
    }
  }

  .catalog__item--slim {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 140px;
      height: 192px;
      position: absolute;
      background-image: url("./../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: center;
      top: 70px;
      left: 480px;
    }
  }

  .catalog__item--weight {
    position: relative;


    &::after {
      content: "";
      display: block;
      width: 268px;
      height: 112px;
      position: absolute;
      background-image: url("./../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: center;
      top: 120px;
      left: 400px;
    }
  }


  .catalog__discription {
    text-align: left;
    border-bottom: none;
    width: 377px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    display: grid;
    column-gap: 80px;
    grid-template-columns: 1fr 1fr;
    height: 374px;
    padding-left: 110px;
    padding-right: 110px;
  }


  .catalog__item {
    height: 374px;
  }

  .catalog__title {
    /* display: flex; */
    position: relative;
    align-items: center;
    left: 170px;


    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100px;
      height: 100px;
      background-color: #68b738;
      border-radius: 50%;
      margin-left: -150px;
      top: 5px;
    }
  }

  .catalog__item--slim {
    position: relative;


    &::after {
      content: "";
      display: block;
      width: 70px;
      height: 98px;
      position: absolute;
      background-image: url("./../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: center;
      top: 25px;
      left: 80px;
    }
  }

  .catalog__item--weight {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 134px;
      height: 56px;
      position: absolute;
      background-image: url("./../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: center;
      top: 55px;
      left: 40px;
    }
  }

  .catalog__discription {
    font-family: "Arial";
    margin-left: 60px;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    width: 468px;
  }

  .catalog__link {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    padding-top: 26px;
    padding-left: 52px;

    &::after {
      content: "";
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      background-image: url("./../img/icon-right-arrow-long.svg");
      top: 35px;
      left: 180px;
      width: 30px;
      height: 10px;
    }
  }
}
