.page-footer {
  background: @basic_grey;
}

.copyright__link {
  padding-left: 30px;
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: black;
}

.social__list {
  list-style: none;
}

.social__item a {
  text-decoration: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.copyright__img {
  padding-right: 20px;
}

/* .social__link--vkontakte {
  background-image: url("../../img/icon-vk.svg");
  background-repeat: no-repeat;
} */
