.logo__img {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 250px;
  height: 37px;
}

@media (min-width: @tablet-width) {
  .logo_img {
    margin-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .logo__img {
    width: 202px;
    padding-left: 110px;
  }
}
