.promo {
  background-image: url("./../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-right: 20px;
  }

.promo__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  padding-top: 27px;
  text-align: center;
  margin: 0;
}

.promo__caption {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.promo__img {
  padding-top: 25px;
}

.button {
  text-decoration: none;


  /* padding: 7px 65px 7px 65px; */
  background: @basic_green;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .promo {
    display: flex;
    flex-direction: column;
    height: 800px;
    background-image: url("./../img/index-can-tablet@1x.jpg");
    background-size: 709px 609px;
    background-position: center 220px;
  }

  .promo__text {
    color: #000000;
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding-left: 90px;
    height: 120px;
  }

  .promo__caption {
    color: #000000;
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    width: 282px;
    height: 20px;
    margin: 0;
    text-align: left;
    padding-left: 90px;
    padding-top: 40px;
  }

  .button {
    width: 244px;
    height: 54px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    height: 696px;
    background-image: url("./../img/index-can-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 552px 499px;
    background-position: 50% 70%;
    position: relative;
  }

  .promo__text {
    text-align: left;
    width: 414px;
    height: 120px;
    padding-left: 190px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 40px;
  }

  .promo__caption {
    width: 283px;
    height: 20px;
    text-align: left;
    padding-left: 190px;
    padding-bottom: 50px;
  }

  .promo__button {
    position: absolute;
    left: 12%;
    bottom: 50%;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
  }
}

