.site-list__item a {
  text-decoration: none;
}

.site-list__item {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    display: inline-block;
    padding: 0;
    padding-top: 40px;
    padding-right: 32px;
    border: none;
    line-height: 24px;
    font-size: 18px;
    text-transform: uppercase;
  }

  .site-list__item a[href] {
    &:hover {
      opacity: 0.6;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    display: inline;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    padding-right: 0;
  }
}
